.profile__add-batton {
  margin: 0 0 0 auto;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background: url(../../../images/add-batton.svg) no-repeat 50% 65%;
  outline: none;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.profile__add-batton:hover {
  opacity: 0.6;
}

@media (max-width: 800px) {
  .profile__add-batton {
    width: 100px;
  }
}

@media (max-width: 621px) {
  .profile__add-batton {
    background: url(../../../images/add-batton-mobil.svg) no-repeat center;
    background-size: 16px;
    width: 100%;
    margin: 32px 0 0;
  }
}
