.profile__add-batton {
  margin-left: auto;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background: url(../../../images/add-batton.svg) no-repeat center;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
}

.profile__add-batton:hover {
  opacity: 0.6;
}

@media (max-width: 800px) {
  .profile__add-batton {
    width: 100px;
  }
}

@media (max-width: 621px) {
  .profile__add-batton {
    background: url(../../../images/add-batton-mobil.svg) no-repeat center;
    width: 100%;
    margin: 32px 0 0;
  }
}
