.profile__edit-batton {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin: 0 0 0 18px;
  background: url(../../../images/edit-batton.svg) no-repeat center;
  transition: all 0.3s ease 0s;
}

.profile__edit-batton:hover {
  opacity: 0.6;
}

@media (max-width: 425px) {
  .profile__edit-batton {
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}
